#carousel-container {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}
#carousel-images {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	-webkit-mask: linear-gradient(to right, transparent, black 40%, black 60%, transparent);
	mask: linear-gradient(to right, transparent, black 40%, black 60%, transparent);
}

button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	border: none;
}

button:focus {
	outline: auto;
}

#left {
	left: 10px;
}

#right {
	right: 10px;
}
