.Title_Main {
	margin-top: 46px;
	font-family: Montserrat;
	font-weight: 800;
	font-size: 32px;
	line-height: 39px;
	letter-spacing: 0;
	text-align: left;
	color: rgb(247, 210, 45);
}

.customImage {
	width: 100%;
	border-radius: 0px;
}

.imageTitle {
	font-family: Montserrat;
	font-weight: 800;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0;
	text-align: left;
	width: 255px;
	margin-bottom: 10px;
	color: rgb(121, 121, 121);
}

.description {
	font-family: Montserrat;
	font-weight: 500;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: 0;
	text-align: left;
	max-width: 255px;
	margin-top: 0;
	color: rgb(121, 121, 121);
}

.secondaryTitle {
	font-family: Montserrat;
	font-weight: 700;
	font-size: 20px;
	line-height: 19px;
	letter-spacing: 0;
	text-align: left;
	margin-top: 0;
	margin-right: 10px;
	color: rgb(35, 31, 32);
}

.secondaryTitle_N_Button {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.customButton {
	border-radius: 8px;
	border: none;
	cursor: pointer;
	background-color: rgb(247, 210, 45);
	color: rgb(71, 62, 67);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	line-height: 28px;
	margin-left: 20px;
	transition: 0.5s;
	padding: 4px 23px;

	&:hover {
		background: rgb(243, 243, 247);
	}
}

.content-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.grid-container {
	margin-top: 26px;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 50px 28px;
	justify-content: space-between;
}
